/* #components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
} */

.site-layout,
.site-layout-background {
  background: #fff;
}
@media screen and (min-width: 1400px) {
  .siteBorder {
    padding: 0 200px;
  }
}

@media screen and (max-width: 1400px) {
  .siteBorder {
    padding: 0 20px;
  }
}
.ant-divider-vertical {
  height: 1.5em;
}

.tableTitle {
  border-bottom: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #f0f0f0;
  width: 97%;
}
.tableDesign {
  border-bottom: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #f0f0f0;
  width: 97%;
}

.tableDesign:hover {
  background: #fafafa;
}
